/* This CSS is advanced. 
Please come back to this only after chapter 6 after we cover positioning */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* This is a CSS reset. This makes sure that the styles coming from the browser are overridden 
    - यह एक सीएसएस रीसेट है। यह सुनिश्चित करता है कि ब्राउज़र से आने वाली शैलियों को ओवरराइड किया गया है
*/
* {
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

body {
    margin: 0.5 rem;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial;
    font-size: 1.5rem;
}

div.description-of-purpose{
    margin: 1rem;
    padding: 1rem;
    color:darkslategray ;
    font-size: 1rem;
}

nav.crumbs{
    border-bottom: 1px solid rgb(73, 73, 73);
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::before {
    display: inline-block;
    color: #000;

    /* You can use any emoji here, to make this fun 
    Anything that supports unicode can be here */
    content: '⚫️';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

.disclaimer {
    /* You can use relative terms like large and small and 
    extra extra small to denote sizes in many contexts */
    font-size: xx-small;

    margin: 1rem;

    text-align: center;
}
